.alexandro_promise_sec {
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid rgba(0,0,0,0.1);
    h6 {
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
    }
}