.main_banner {
    padding-top: 80px;
    padding-bottom: 80px;
    .main_content {
        h1 {
            margin-bottom: 15px;
        }
        p {
            font-size: 22px;
            list-style: 32px;
        }
    }
}