.pricing_plans {    
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 0px;
    border-top: 1px solid rgba(0,0,0,0.1);
    h3 {
        font-size: 25px;
        line-height: 30px;
    }
    .price_item {
        text-align: center;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
        // padding: 30px 15px;
        min-height: 210px;
        margin: 13px 0px;
        .card_head {
            padding: 14px 10px;
            border-bottom: 1px solid rgba(0,0,0,0.1);
            h4 {
                font-size: 18px;
                font-weight: 600;
                color: #56c18b;
                line-height: 25px;
                margin-bottom: 0px;
            }
        }
        .card_body {
            padding: 20px 10px;
            .price {
                font-size: 26px;
                font-weight: 600;
                line-height: 36px;
                margin-bottom: 0px;
            }
            .duration {
                margin-bottom: 10px;
            }
            .content {
                margin-bottom: 0px;
            }
        }
    }
}